#root {
}

.main-wrapper {
  background-color: white;
  margin-top: 39px;
  height: calc(100% - 39px);
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.backdrop {
  background-color: darkslategray;
  opacity: .70;
  height: 100%;
  top: 43px;
  left: 0;
  width: 100%;
  position: fixed;
  overflow: auto;
  display: none;
}

  .backdrop[data-visible=true] {
    display: block;
  }

.message-wrapper {
  background-color: white;
  color: black;
  padding: 15px;
  border: solid 2px white;
  border-radius: 12px;
  display: none;
  font-weight: normal;
  box-shadow: black 9px 8px 16px;
}

  .message-wrapper[data-visible=true] {
    display: block;
    z-index: 4;
  }

  .message-wrapper p {
    margin: 0;
    padding: 8px;
  }

.loader {
  top: 39px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(darkRed 0 0) 0 / 0% no-repeat white;
  border-bottom: 1px solid black;
  animation: l1 3s infinite linear;
  position: absolute;
}

.loader-relative {
  position: relative;
  border: solid 1px gray;
  padding: 4px;
  background: linear-gradient(red 0 0) 0 / 0% no-repeat white;
  border: 1px solid black;
  border-radius: 6px;
  width: 75%;
  text-align: center;
  margin: 3px auto;
}

@keyframes l1 {
  100% {
    background-size: 100%
  }
}

div[data-menu] {
  right: 2px;
  margin-top: 2.6em;
  display: none
}

.menu-item-separator {
  height: 1px;
  background-color: silver;
}

.items-per-page {
  margin: 1px;
  padding: 0;
  min-height: 35px;
  min-width: 35px;
  border: solid 1px gray;
  cursor: pointer;
  font-size: 12px
}

.fila-hover:hover td {
  background-color: lightyellow !important;
  color: black !important;
  cursor: pointer;
}

.fila-seleccionada td {
  background-color: lightyellow !important;
  color: black !important;
}


.skeleton {
  height: 1em;
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}


.pol-fix-padding {
  padding: 0 !important;
}

.pol-separator {
  margin: 8px 0 !important;
}

.pol-separator-line {
  margin: 1px 0 !important;
  height: 1px;
  background-color: gray;
  width: 100%
}

.pol-table {
  user-select: none;
}

.pol-table-row-header {
}

.pol-table-row:nth-child(odd) {
  background-color: white;
}

.pol-table-row:nth-child(even) {
  background-color: #e9e9e9;
}

.pol-table-row td,
.pol-table-row th {
  background-color: inherit;
}

.pol-table-row-header td {
  text-align: left;
  padding: 8px 2px;
}

.pol-paginator-label {
  padding: 6px 0 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 682px);
  font-size: 11px;
  background-color: white;
  line-height: 30px;
  white-space: nowrap
}

.pol-paginator-search {
  margin: 0;
  padding: 0
}

.pol-paginator-search-input {
  padding: 8px;
  outline: none;
  border: none
}

@media (max-width: 1000px) {
  .pol-paginator-label {
    width: calc(100% - 55px);
    float: none;
    display: block;
    border-bottom: solid 1px silver;
  }

  .pol-paginator-search {
    width: calc(100% - 300px);
  }

    .pol-paginator-search input {
      width: 100%;
    }

  .pol {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (max-width: 660px) {
  .pol-paginator-search {
    width: 100%;
    float: none;
    display: block;
    background-color: red !important;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
  }

    .pol-paginator-search input {
      width: 100%;
    }

  .pol-paginator-label {
    border-bottom: none;
  }

  .pol-table {
    font-size: 11px;
  }

    .pol-table td, .pol-table th {
      padding: 6px 3px !important;
    }
}

.pol-top-bar {
  background-color: black;
  margin-top: 0px;
  position: fixed;
  top: 0;
}

.pol-report-viewer-container {
  border-radius: 8px;
  border: solid 1px black;
  margin: 5px 0;
}

.pol-report-viewer-table {
  width: 100%;
  border-collapse: collapse;
}

  .pol-report-viewer-table td {
    padding: 10px;
  }

.pol-app-title {
  line-height: .9em;
  white-space: nowrap
}

a.w3-bar-item {
  padding-left: 10px !important;
  padding-right: 10px !important;
}


@keyframes bounce-up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animated-check-icon {
  animation: bounce-up-down 1s infinite ease-in-out;
  display: inline-block;
}


.rcg-list {
  overflow: auto;
  height: 250px;
  padding: 2px;
  margin: 0;
}

  .rcg-list.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

  .rcg-list li {
    cursor: pointer;
    outline: none;
    border-bottom: solid 1px silver;
    margin: 0;
    padding: 4px;
    user-select: none;
  }

    .rcg-list li.selected {
      background-color: DodgerBlue !important;
    }

    .rcg-list li:focus {
      background-color: #e9e9e9;
    }

    .rcg-list li:hover {
      background-color: #e9e9e9;
    }


.cal-wrapper {
  width: 100%;
  border: solid 1px gray;
  padding: 8px;
  font-size: 12px;
  position: relative;
}

  .cal-wrapper div, .cal-wrapper td {
    text-align: center;
    vertical-align: middle;
  }

.cal-header {
}

.cal-body {
  padding: 4px;
}

.cal-overlay-0 {
}

.cal-overlay-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto
}

  .cal-overlay-1 button.cal-month {
    margin: 2%;
    width: 29%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .cal-overlay-1 button.cal-year {
    margin: 1%;
    width: 22%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

.cal-footer {
  border-top: solid 1px gray;
  padding-top: 8px;
}

.cal-prev, .cal-next {
  width: 1%;
  padding: 4px 8px;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
}

.cal-label {
  padding: 4px;
  cursor: pointer;
}

.cal-table {
  width: 100%;
  height: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  position: relative
}

  .cal-table td {
    background-color: White;
    width: 14.28571%;
    vertical-align: top;
    padding: 2px;
    position: relative;
  }

    .cal-table td.cal-day {
      color: black;
      cursor: pointer;
    }

      .cal-table td.cal-day.active {
        border-radius: 4px;
        background-color: silver;
      }

      .cal-table td.cal-day:hover {
        border-radius: 4px;
        background-color: Highlight;
        color: white;
      }

    .cal-table td.current {
      border-radius: 4px;
      background-color: Highlight;
      color: white;
    }

.cal-overlay-1 button.current {
  font-weight: bold;
}

.cal-table td.cal-day-disabled {
  color: silver;
  visibility: visible;
}

.cal-row-header th {
  background-color: transparent
}

.cal-line td {
  background-color: silver;
  height: 1px;
  padding: 0
}

.cal-txt-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  display: none;
  background-color: white;
}

  .cal-txt-panel .cal-footer {
    display: none;
  }

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%
}

.autocomplete-items {
  position: absolute;
  border: 2px solid #d4d4d4;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  z-index: 1;
  border-radius: 8px;
}

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
    text-overflow: ellipsis;
  }

    .autocomplete-items div:last-of-type {
      border-bottom: none;
    }

    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete.combo-box input {
  padding-right: 38px;
  text-overflow: ellipsis;
}

.autocomplete.combo-box::after {
  border-bottom: 2px solid rgb(0 0 0 / 75%);
  border-right: 2px solid rgb(0 0 0 / 75%);
  content: "";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: calc(100% - 27px);
  transform: translate(0, -7%) rotate(45deg);
  width: 12px;
  cursor: pointer;
}

.autocomplete.combo-box.open::after {
  top: calc(100% - 21px);
  transform: translate(0, -7%) rotate(225deg);
}

.combo-box:focus {
}


.pol-master-table-container {
  max-height: 300px;
  overflow: auto;
  padding: 5px;
  border: solid 1px silver;
}

.pol-master-table-item {
  max-height: 100px;
  overflow: hidden;
  padding: 8px;
  margin: 5px;
  border: solid 1px silver;
  border-radius: 8px;
  width: calc(25% - 10px) !important
}

@media (max-width: 660px) {
  .pol-master-table-item {
    width: calc(100% - 10px) !important;
  }
}

.pol-json-viewer {
  display: block;
  overflow: auto;
  background-color: rgb(220, 213, 213, 0.30) !important;
  font-family: monospace !important;
}


.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  height: 100%;
  padding: 10px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.template-tester-container {
  width: 100%;
  height: 100%;
}

.splitter-bar {
  border: none;
}

  .splitter-bar:hover {
    background-color: silver;
  }

.splitter-panel {
  overflow: hidden;
}

.splitter-panel-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.splitter-panel-content {
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  border: solid 0px silver;
  margin: 0px;
  position: relative;
}


  .splitter-panel-content h6 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .splitter-panel-content textarea {
    outline: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 40px;
    border: solid 1px silver;
    overflow: auto;
    font-family: monospace;
    background-color: white;
    resize: none !important;
    padding: 8px;
  }

  .splitter-panel-content pre {
    outline: none;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 40px;
    border: solid 1px silver;
    overflow: auto;
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #333
  }

.error-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}

.pol-h6-button {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  margin: 0 5px;
}

  .pol-h6-button:hover {
    color: black;
    background-color: silver;
  }


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
}

.snap-panel-container {
    width: calc(100vw - 73px);
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    overflow: hidden;
    background-color:antiquewhite;
    border-left: 3px dashed lightgray
}

.header-title {
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 0;
}
